{% extends 'base.html.twig' %}

{% block title %}Produse{% endblock %}

{% block body %}
 <center><h1>Produse creeaza</h1></center>

    {{ include('prod_desc/_form.html.twig') }}

    <h3 style="color: #6b5b95;"><center><a href="{{ path('prod_desc_index') }}">List</a></center></h3>
{% endblock %}
